certifi==2024.6.2
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
dominate==2.9.1
filelock==3.15.3
fonttools==4.53.0
fsspec==2024.6.0
h5py==3.11.0
idna==3.7
imageio==2.34.1
Jinja2==3.1.4
joblib==1.4.2
jsonpatch==1.33
jsonpointer==3.0.0
kiwisolver==1.4.5
lazy_loader==0.4
MarkupSafe==2.1.5
matplotlib==3.9.0
mpmath==1.3.0
networkx==3.3
nibabel==5.2.1
numpy==2.0.0
opencv-python==4.10.0.84
packaging==24.1
pandas==2.2.2
pillow==10.3.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
scikit-image==0.24.0
scikit-learn==1.5.0
scipy==1.13.1
six==1.16.0
sympy==1.12.1
threadpoolctl==3.5.0
tifffile==2024.6.18
torch==2.3.1
torchsample @ https://github.com/ozan-oktay/torchsample/tarball/master#sha256=d81f03c383bdc1ea2b4b2551a43bb1af44c75f85281bf0b38772da73b9c4e60f
torchvision==0.18.1
tornado==6.4.1
tqdm==4.66.4
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
visdom==0.2.4
websocket-client==1.8.0
